
<div class="ekart--product--container">
    <!-- <p>product-list works!</p>
<p>Name: {{product.name}}</p>
<p>Price: {{'$'+product.price}}</p>
<p>Color: {{product.color}}</p>
<p>Discounted Price: ${{getDiscountPrice()}}</p>
<p>{{ product.stock > 0 ? 'Only ' + product.stock + ' left' : 'None' }}</p>
<button [disabled]="!(product.stock>0)">Button</button>
<input (input)="onNameChange($event)">
<p>Name:{{name}}</p>
<button (click)="decrement()">-</button>
<span>{{counter}}</span>
<button (click)="increment()">+</button> -->
    <app-search></app-search>

    <div *ngFor="let item of arr">
      looping item:{{item}}
    </div>
</div>